<!-- main page when you start the application -->
<h1>Salaire PXE</h1>
<p-table #myTab [value]="data"
  [globalFilterFields]="['id', 'data.nom', 'data.prenom','data.Adress','data.contact','data.AVS']">
  <ng-template pTemplate="caption">
    <div style="display: flex;">
      <div style="text-align: left; width: 50%;">
        <button pButton type="button" icon="pi pi-plus" class="p-button-rounded"
          pTooltip="Ajout d'une nouvelle personne" (click)="showDialogAddPersonne()">
        </button>
      </div>
      <div style="text-align: right; width: 50%;">
        <i class="pi pi-search" style="margin:4px 4px 0 0"> </i>
        <input type="text" pInputText size="50" placeholder="Recherche"
          (input)="myTab.filterGlobal($event.target.value, 'contains')" style="width:auto" />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Genre / Titre</th>
      <th>Nom</th>
      <th>Prénom</th>
      <!-- <th>Adresse</th> -->
      <th>Contact / Adresse</th>
      <th>AVS</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-personne>
    <tr>
      <td>{{ personne.id }} </td>
      <td>{{ personne.data.genre }} </td>
      <td>{{ personne.data.nom }} </td>
      <td>{{ personne.data.prenom }} </td>
      <!-- <td>{{ personne.data.Adress }}</td> -->
      <td>{{ personne.data.contact }}</td>
      <td>{{ personne.data.AVS }} </td>
      <td>
        <button pButton icon="pi pi-user-edit" class="p-button-rounded p-button-text" pTooltip="Modification"
          (click)="showDialogEditPersonne(personne)">
        </button>
        <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger p-button-text" pTooltip="Suppression"
          (click)="deletePersonne(personne)">
        </p-button>
        <p-button icon="pi pi-print" styleClass="p-button-rounded p-button-warning p-button-text"
          pTooltip="Imprimer fiche de salaire" (click)="showPrint(personne)">
        </p-button>
      </td>


    </tr>
  </ng-template>
</p-table>
<!-- Confimration -->
<p-confirmDialog [style]="{width: '60vw'}"></p-confirmDialog>
<!-- toast -->
<p-toast></p-toast>

<!-- dialog for add personne to the system -->
<p-dialog header="Ajout d'une personne dans le systeme" [(visible)]="dialogAddPersonne" [modal]="true" width="100%"
  [draggable]="false">
  <table style="width: 100%;">
    <tr>
      <td>Genre/Titre</td>
      <td align="right">
        <input type="text" pInputText [(ngModel)]="Genre">
      </td>
    </tr>
    <tr>
      <td>Prenom</td>
      <td align="right">
        <input type="text" pInputText [(ngModel)]="Prenom">
      </td>
    </tr>
    <tr>
      <td>Nom</td>
      <td align="right">
        <input type="text" pInputText [(ngModel)]="Nom">
      </td>
    </tr>
    <tr>
      <td>Contact</td>
      <td align="right">
        <input type="text" pInputText [(ngModel)]="Contact">
      </td>
    </tr>
    <tr>
      <td>AVS</td>
      <td align="right">
        <p-inputMask mask="999.9999.9999.99" [(ngModel)]="AVS" placeholder="999.9999.9999.99"></p-inputMask>
      </td>
    </tr>
    <!-- <tr>
      <td>Adresse</td>
      <td align="right">
        <input type="text" pInputText [(ngModel)]="Adresse">
      </td>
    </tr> -->
    <br>
    <br>
    <tr>
      <td colspan="2" align="center">
        <p-button label="Valider l'ajout" styleClass="p-button-raised" (click)="addPersonne()"></p-button>
      </td>

    </tr>
  </table>

</p-dialog>


<!-- dialog for edit personne to the system -->
<p-dialog header="Modification d'une personne dans le systeme" [(visible)]="dialogEditPersonne" [modal]="true"
  width="100%" [draggable]="false">
  <table style="width: 100%;">
    <tr>
      <td>Genre/Titre</td>
      <td align="right">
        <input type="text" pInputText [(ngModel)]="Genre">
      </td>
    </tr>
    <tr>
      <td>Prenom</td>
      <td align="right">
        <input type="text" pInputText [(ngModel)]="Prenom">
      </td>
    </tr>
    <tr>
      <td>Nom</td>
      <td align="right">
        <input type="text" pInputText [(ngModel)]="Nom">
      </td>
    </tr>
    <tr>
      <td>Contact</td>
      <td align="right">
        <input type="text" pInputText [(ngModel)]="Contact">
      </td>
    </tr>
    <tr>
      <td>AVS</td>
      <td align="right">
        <p-inputMask mask="999.9999.9999.99" [(ngModel)]="AVS" placeholder="999.9999.9999.99"></p-inputMask>
      </td>
    </tr>
    <!-- <tr>
      <td>Adresse</td>
      <td align="right">
        <input type="text" pInputText [(ngModel)]="Adresse">
      </td>
    </tr> -->
    <br>
    <br>
    <tr>
      <td colspan="2" align="center">
        <p-button label="Valider la modification" styleClass="p-button-raised" (click)="  editPersonne()"></p-button>
      </td>
    </tr>
  </table>
</p-dialog>

<!-- dialog for print -->
<p-dialog header="Fiche de salaire de " [(visible)]="dialogPrint" [modal]="true" width="100%" [draggable]="false">
  <h2>{{ Genre }} {{ Nom }} {{ Prenom }}</h2>
  <h3>{{dateFormatee}}</h3>
  <!-- ici mettre la dropdown  -->
  <h3>Décompte de Salaire
    <p-dropdown [options]="moisListe" [(ngModel)]="moisSelectionne" optionLabel="label"></p-dropdown>
    <input type="number" pInputText [(ngModel)]="annee">
  </h3>


  <table class="custom-table">
    <tr style="text-align: left;">
      <th>Salaire brut</th>
      <th>Coeff./taux</th>
      <th>Base, Salaire</th>
      <th>Montant</th>
    </tr>
    <tr>
      <td>Salaire horaire</td>
      <td> <input type="number" pInputText [(ngModel)]="workHour" (input)="calcSal()"> </td>
      <td> <input type="number" pInputText [(ngModel)]="base" (input)="calcSal()"></td>
      <td>{{salaireHoraire}}</td>
    </tr>
    <tr>
      <td>Supplément vacances</td>
      <td> <input type="number" pInputText [(ngModel)]="pourcentVac" (input)="calcSal()"></td>
      <td>%</td>
      <td>{{suppVac}}</td>
    </tr>
    <tr>
      <td><i>Sous total brut</i></td>
      <td></td>
      <td></td>
      <td>{{totBrut}}</td>
    </tr>
    <tr>
      <th>Charges sociales</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Cotisation AVS/AIAPG</td>
      <td><input type="number" pInputText [(ngModel)]="avsaiapg" (input)="calcSal()"></td>
      <td>{{totBrut}}</td>
      <td>{{avsaiapgM}}</td>
    </tr>
    <tr>
      <td>Cotisation AC</td>
      <td><input type="number" pInputText [(ngModel)]="ac" (input)="calcSal()"></td>
      <td>{{totBrut}}</td>
      <td>{{acM}}</td>
    </tr>

    <tr>
      <td>AANP</td>
      <td><input type="number" pInputText [(ngModel)]="aanp" (input)="calcSal()"></td>
      <td>{{totBrut}}</td>
      <td>{{aanpM}}</td>
    </tr>
    <tr>
      <td>Particpation AFAM</td>
      <td><input type="number" pInputText [(ngModel)]="afam" (input)="calcSal()"></td>
      <td>{{totBrut}}</td>
      <td>{{afamM}}</td>
    </tr>
    <tr>
      <td>LPP</td>
      <td><input type="number" pInputText [(ngModel)]="lpp" (input)="calcSal()"></td>
      <td>{{totBrut}} </td>
      <td>{{lppM}}</td>
    </tr>
    <tr>
      <td>Impôts source</td>
      <td><input type="number" pInputText [(ngModel)]="impotSource" (input)="calcSal()"></td>
      <td>{{totBrut}}</td>
      <td>{{impotSourceM}}</td>
    </tr>
    <tr>
      <td><i>Total des déductions sociales </i></td>
      <td></td>
      <td></td>
      <td>-{{totdeductions}}</td>
    </tr>

    <tr>
      <th>Salaire Net</th>
      <th></th>
      <th></th>
      <th>{{salaireNet}}</th>
    </tr>

  </table>
 
  <br>
  <div style="text-align: center;">
    <p-button label="Valider la fiche de salaire" styleClass="p-button-raised" (click)="  print()"></p-button>
  </div>
  


</p-dialog>


<footer class="footer">
  <p>Developed by Thibcott - 2023</p>
</footer>
<!-- temp for debugguing-->
<!-- <div *ngIf="data">
  <h2>Données récupérées :</h2>
  <pre>{{ data | json }}</pre>
</div> -->